<div>
    <p>
        Your request for Reset Password
    </p>
    Please click on the button below to reset your password. 
    <p>
        <a href="<%= link %> "><button>Click here to reset</button></a>
    </p>
</div>